@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
/* todavía quiero esta fuente para mis navs */
/* es amatic */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* oswald */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
/* roboto */
/* la importación de header, main, footer*/
.navbar {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: 800;
}
.navbar a {
  font-weight: 2000;
}
.navbar a:hover {
  color: teal !important;
}
.navbar .logo img:hover {
  transform: scale(1.2);
}

.footer .footer-menus ul {
  list-style: none;
  padding: 0;
}
.footer img:hover {
  transform: scale(1.2);
}
.footer .social-links li {
  list-style-type: none;
}

.indexito {
  height: 40vh;
}
.indexito .btn a {
  color: white;
}

.perrofeliz img {
  width: 250px;
  filter: grayscale(50%);
}

.mascotas img {
  filter: grayscale(40%);
}

.misyvis {
  color: #4A4C4F;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
}
.misyvis p {
  font-family: "Roboto", sans-serif;
}
.misyvis h2 {
  font-family: "Oswald", sans-serif;
}

.container {
  margin-top: 30px;
}

.ubica {
  max-width: 100%;
  position: center;
}
.ubica .bodega {
  background: url(../img/bodega.jpg);
  background-position: center center;
}

.formita {
  max-width: 100%;
  position: center;
}
.formita .wachatele {
  background: url(../img/contacto.jpg);
  background-position: center center;
}

.info2 {
  border: 2px solid grey;
}
.info2 #image-sand {
  width: 250px;
}
.info2 #image-sand:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.laGaleria {
  margin-top: 40px;
}
.laGaleria .card {
  background-color: #e3f2fd !important;
  border: 1px solid grey !important;
}
.laGaleria .card img:hover {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.info a {
  font-weight: 580;
}

.videoyt iframe {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 500px;
}

/* manejo de tamaños del logo para los 3 tamaños */
/* tamaños para celu */
@media (min-width: 320px) {
  .logo img {
    width: 100px;
  }

  .address img {
    width: 130px;
  }

  .mainContact {
    height: 100vh;
  }

  .mainUbicacion iframe {
    width: 300px;
    height: 450px;
  }
}
/* tamaños para tablet */
@media (min-width: 480px) {
  .logo img {
    width: 150px;
  }

  .address img {
    width: 180px;
  }

  .mainContact {
    height: 100vh;
  }

  .mainUbicacion iframe {
    width: 400px;
    height: 400px;
  }
}
/* tamaños para desktop */
@media (min-width: 1024px) {
  .logo img {
    width: 150px;
  }

  .address img {
    width: 180px;
  }

  .mainAcerca {
    min-height: 120vh;
  }

  .mainContact {
    height: 100vh;
  }

  .primera iframe {
    width: 500px;
    height: 300px;
  }

  .mainUbicacion iframe {
    width: 500px;
    height: 500px;
  }
}
/* de aquí en adelante, estilos para cosas específicas */
*::selection {
  background-color: #7C7F82;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h2, h3 {
  font-family: "Oswald", sans-serif;
}

a {
  color: teal;
}

/*# sourceMappingURL=estilos.css.map */
