@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/* todavía quiero esta fuente para mis navs */
/* es amatic */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* oswald */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
/* roboto */

/* la importación de header, main, footer*/
@import "variables";
@import "header";
@import "footer";
@import "main";

/* manejo de tamaños del logo para los 3 tamaños */
/* tamaños para celu */
@media (min-width:320px) {
  .logo img {
    width: 100px;
  }
  .address img {
    width: 130px;
  }
  .mainContact {
    min-height: 100vh;
  }
  .mainUbicacion iframe {
    width: 300px;
    height: 450px;
  }
  .indexito{
    min-height: 50vh;
  }
}

/* tamaños para tablet */
@media (min-width:480px) {
  .logo img {
    width: 150px;
  }
  .address img {
    width: 180px;
  }
  .mainContact {
    height: 100vh;
  }
  .mainUbicacion{
    & iframe {
      width: 400px;
      height: 400px;
    }
  }
}

/* tamaños para desktop */
@media (min-width:1024px) {
  .logo img {
    width: 150px;
  }
  .address img {
    width: 180px;
  }
  .mainAcerca {
    min-height: 120vh;
  }
  .mainContact {
    height: 100vh;
  }
  .primera iframe {
    width: 500px;
    height: 300px;
  }
  .mainUbicacion{
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
    & iframe {
      width: 500px;
      height: 500px;
    }
  }
}

/* de aquí en adelante, estilos para cosas específicas */

*::selection {
  background-color: $colorSelect;
  color: $letrasSelect;
}
html {
  scroll-behavior: smooth;
}
h2,h3 {
  font-family: $fuenteTitulos;
}
a {
  color: $colorLinks;
}